@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&display=swap');

* {
  font-family: 'Inconsolata', monospace;
}

html, body, .container {
  height: 100%;
}

body, h1, p {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 16px;
}

.calculator {
  width: 400px;
  aspect-ratio: 4 / 6;
  padding: 16px;
  border-radius: 16px;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 4px;
  box-shadow: 0 0 16px black;
}

.display {
  flex: 1;
  border-radius: 8px;
  background-color: #BBB;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.display p {
  margin: 0 16px;
  font-size: 80px;
}

.buttons, .button-group {
  flex: 1;
  display: flex;
  gap: 4px;
}

.buttons button {
  flex: 1;
  border-radius: 8px;
  border: 0;
  padding: 0;
  font-size: 40px;
  cursor: pointer;
}

.functional {
  background-color: sandybrown;
}

.operation {
  background-color: #60F4A4;
}

.digit {
  background-color: #A460F4;
}
